Repository xatier/twitter-stuff: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, yamllint

.pre-commit-config.yaml:

default_language_version:
  python: python3.7

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-yaml
      - id: flake8
        args:
          - '--ignore'
          - 'C408,D1,I100,I202,W504'
          - '--max-line-length=120'
          - '--show-source'
          - '--import-order-style=google'
        additional_dependencies:
          - flake8-annotations-complexity
          - flake8-annotations-coverage
          - flake8-bugbear
          - flake8-class-attributes-order
          - flake8-comprehensions
          - flake8-docstrings
          - flake8-import-order
          - pep8-naming

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        types: [python]
        require_serial: true
        args: [--no-strict-optional, --ignore-missing-imports]

      - id: yamllint
        name: yamllint
        language: python
        entry: yamllint
        types: [file, yaml]

Find ghost followers
  wtuf.py
Due: mypy

Refactor reporting function
  wtuf.py
Due: mypy

Bump pre-commit revision
  .pre-commit-config.yaml
Due: yamllint

Use @functools.lru_cache in utils
  utils.py
Due: mypy

Use requirements.txt for dependencies
  .gitignore
  README.md
  requirements.txt
Due: none

Update pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint

Add a WTF script with twint and jq
  wtf.sh
Due: none

Remove duplicates
  .pre-commit-config.yaml
Due: yamllint

Update pre-commit configs
  .pre-commit-config.yaml
Due: yamllint

Show ctime from rate limit timestamp
  utils.py
Due: mypy

Add flake8-annotations to pre-commit-config
  .pre-commit-config.yaml
Due: yamllint

Fix type annotation
  utils.py
Due: mypy

Update pre-commit hook
  .pre-commit-config.yaml
Due: yamllint

Bump pre-commit version
  .pre-commit-config.yaml
Due: yamllint

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: yamllint

Update pre-commit.config.yaml
  .pre-commit-config.yaml
Due: yamllint

Update gitignore
  .gitignore
Due: none

Update pre-commit-config.yaml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  utils.py
  wtf.py
  wtuf.py
Due: mypy, yamllint

ci(pre-commit-config): skip flake8-broken-line for now
  .pre-commit-config.yaml
Due: yamllint

chore(pre-commit): update pre-commit-config.yaml
  .pre-commit-config.yaml
  utils.py
Due: mypy, yamllint

chore(pre-commit): add dev dependencies and disable requirements fixer
  .pre-commit-config.yaml
  requirements.txt
Due: yamllint

ci: bump GitHub action
  .github/workflows/codeql-analysis.yml
Due: yamllint

ci: upgrade actions/checkout to v5 and pre-commit hooks
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: yamllint

ci: bump GitHub actions
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: yamllint
